:root{
    --head : #F8F9FA;
    --primary : #508AFF;
    --heading : #565656;
    --text : #707070;
    --focus : #3B3B3B;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* ------------ Navbar -------------------------------------*/
#n-bar .naav{
    padding: 1em 13em;
}
#n-bar .log{
    font-weight: 700;
}
#n-bar .lin{
    margin-left: 20%;
    margin-top: 10px;
    white-space: nowrap;
}
#n-bar .liin{
    margin-left: 60px;;
}
#n-bar .ac{
    color:var(--primary);
    font-weight: 600;
}
#n-bar .btts{
    padding: -0.2em 0.2em;
    height: 5vh;
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: 600;
    margin-top: -10px;
}
#n-bar .btts:focus{
    box-shadow: none;
}
#n-bar .btts:hover{
    background-color: var(--primary);
    color: #fff;
}

/* ------------------- Main ----------- */

#main{
    margin-top: 140px;
    padding: 0 15em 4em 15em;
}

#main h1{
    font-weight: 600;
    color: var(--heading);
    text-align: left;
    /* padding-bottom: 1em; */
}

#main p{
    color: var(--text);
    text-align: left;
    padding-bottom: 2em;
}

#main #formSubmit input{
    width: 100%;
    margin: 0.5em 0;

    padding: 20px 40px;
    background-color: transparent;
    border: 1px solid #DADCE0;
    border-radius: 6px;

}

#main #formSubmit .btn{
    width: 100%;
    background-color: #ECF3FF;
    margin-top: 20px;
    color: var(--primary);
    padding: 15px 20px;
    font-weight: 600;
    outline: none;
}
/*-------------------Footer-------------------------*/

#footer {
    padding-top: 4em;
    background-color: var(--head);
    color: var(--heading);
}


#footer .footer_links ul{
    margin-bottom: 1em;
}

#footer .footer_links li{
    list-style: none;
    margin-bottom: 1em;
}
#footer .footer_links a{
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

#footer .footer_links a:hover{
    color: var(--heading);
}

#footer hr{
    height: 1.5px;
}

#footer .f_copy p{
    font-size: 16px;
}

#footer .f_social{
    /* justify-content: right; */
    text-align: right;
}

#footer .f_social img{
    height: 30px;
    width: 30px;
    margin: 0 0.5em;
}

#ac{
    font-weight: 600;
    padding-bottom: 50px;
}

#copy{
    margin-left: 3em;
}

#name{
    font-weight: 600;
}

/*---------------- Media Queries -------------------------*/
@media screen and (max-width: 960px){
    #n-bar .naav{
        padding: 1em 3em;
    }
    
    #n-bar .lin{
        margin-left: 0%;;
        white-space: nowrap;
    }
    #n-bar .liin{
        margin-left: 0px;;
        margin-top: 10px;;
    }
    #n-bar .ac{
        color: var(--primary);
        font-weight: 600;
    }
    #n-bar .btts{
        padding: -0.2em 0.2em;
        height: 5vh;
        background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: 600;
    }
    #n-bar .btts:focus{
        box-shadow: none;
    }

}


@media screen and (max-width : 754px){
    
    #main{
        margin-top: 140px;
        padding: 0 2em 4em 2em;
    }
}