:root{
    --head : #F8F9FA;
    --primary : #508AFF;
    --heading : #565656;
    --text : #707070;
    --focus : #3B3B3B;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* ------------ Navbar -------------------------------------*/
#navbar{
    padding-left: 60px;
    height: 10vh;
    background-color: var(--head);
}

#navbar .nav-link{
    font-weight: 600;
    margin-left: 50px;
}

#navbarNav{
    margin-left: 25%;
    background-color: var(--head);
}

#navbar #cta{
    margin-left: 55%;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-weight: 600;
}

/* ----------------- Faq ------------------*/

#faq{
    margin-top: 140px;
    padding: 0 10em;
}

#faq h1{
    font-weight: 600;
    color: var(--heading);
    text-align: center;
    padding: 1em;
    line-height: 1.5em;
}

#faq .ques{
    margin-bottom: 1.5em;
}

#faq .ques .accordion #drop{
    display: none;
}

#faq .accordion {
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    padding: 1em 2em;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 8px;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 600;
    /* transition: 0.4s; */
  }
  
 #faq .active, .accordion:hover {
    background-color: #ECF3FF; 
    border-radius: 8px 8px 0 0;
    border: none;
    color: var(--primary);
  }
  
 #faq .panel {
    display: none;
    background-color: #ECF3FF;
    color: var(--primary);
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    padding: 0.5em 5em;
  }
  #faq .panel p{
      font-weight: 400;
  }