:root{
    --head : #F8F9FA;
    --primary : #508AFF;
    --heading : #565656;
    --text : #707070;
    --focus : #3B3B3B;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* ------------ Navbar -------------------------------------*/
#navbar{
    padding-left: 60px;
    height: 10vh;
    background-color: var(--head);
}

#navbar .nav-link{
    font-weight: 600;
    margin-left: 50px;
}

#navbarNav{
    margin-left: 25%;
    background-color: var(--head);
}

#navbar #cta{
    margin-left: 55%;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-weight: 600;
}




/*------- Main Section -------------*/
#main{
    padding: 5em;
    height: 90vh;
    overflow: none;
}


#main .left-content{
    margin-top: 140px;
}

.left-content h1{
    font-weight: 600;
    color: var(--heading)
}

.left-content p{
    font-weight: 400;
    color: var(--text);
    margin-top: 30px;
}

.left-content .bttns{
    margin-top: 30px;
}

#main .right-content img{
    height:100%;
    width: 100%;
}
.bsec{
    margin-left: 20px;
    border: 2px solid var(--primary);
    background-color: transparent;
    color:var(--primary);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}
.bmain{
    margin-left: 20px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}
/*---------------------Section 2 ------------------------*/

#sec-2{
    padding: 5em;
    height: 90vh;
    overflow: none;
}

#sec-2 .right-content img{
    height:80%;
    width: 80%;
}

#sec-2 .left-content{
    margin-top: 50px;;
}


/*---------------------Section 3------------------------*/
#sec-3{
    padding: 5em;
    overflow: none;
    background-color: var(--head);
}

#sec-3 .right-content img{
    height:80%;
    width: 80%;
}
#sec-3 .left-content{
    margin-top: 50px;;
}

/*-------------------Footer-------------------------*/

#footer {
    padding-top: 4em;
    background-color: var(--head);
    color: var(--heading);
}


#footer .footer_links ul{
    margin-bottom: 1em;
}

#footer .footer_links li{
    list-style: none;
    margin-bottom: 1em;
}
#footer .footer_links a{
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

#footer .footer_links a:hover{
    color: var(--heading);
}

#footer hr{
    height: 1.5px;
}

#footer .f_copy p{
    font-size: 16px;
}

#footer .f_social{
    /* justify-content: right; */
    text-align: right;
}

#footer .f_social img{
    height: 30px;
    width: 30px;
    margin: 0 0.5em;
}

#ac{
    font-weight: 600;
    padding-bottom: 50px;
}

#copy{
    margin-left: 3em;
}

#name{
    font-weight: 600;
}

/* ------------------------- Media Queries -------------------*/

@media screen and (max-width : 1026px){
    #navbar .nav-link{
        margin-top: 30px;
        margin-left: 0;
    }

    #navbarNav{
        margin-left: 0;
        width: 100%;
    }

    #navbar #cta{
        margin-top: 30px;
        margin-left: 0;
    }
}


/* ----------------- Faq ------------------*/

#faq{
    padding: 0 10em;
}

#faq h1{
    font-weight: 600;
    color: var(--heading);
    text-align: center;
    padding: 1em;
    line-height: 1.5em;
}

#faq .ques{
    margin-bottom: 1.5em;
}

#faq .ques .accordion #drop{
    display: none;
}

#faq .accordion {
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    padding: 1em 2em;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 8px;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 600;
    /* transition: 0.4s; */
  }
  
 #faq .active, .accordion:hover {
    background-color: #ECF3FF; 
    border-radius: 8px 8px 0 0;
    border: none;
    color: var(--primary);
  }
  

  /* Accordian 2 */

  #faq .accordion-2 {
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    padding: 1em 2em;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 8px;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 600;
    /* transition: 0.4s; */
  }
  
 #faq .active, .accordion-2:hover {
    background-color: #ECF3FF; 
    border-radius: 8px 8px 0 0;
    border: none;
    color: var(--primary);
  }

  /* Accordain 3 */
  #faq .accordion-3 {
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    padding: 1em 2em;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 8px;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 600;
    /* transition: 0.4s; */
  }
  
 #faq .active, .accordion-3:hover {
    background-color: #ECF3FF; 
    border-radius: 8px 8px 0 0;
    border: none;
    color: var(--primary);
  }


 #faq .panel {
    display: none;
    background-color: #ECF3FF;
    color: var(--primary);
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    padding: 0em 8.7em;
  }
  #faq .panel p{
      font-weight: 400;
  }

  #faq .immg{
    text-align: center;
  }

@media screen and (max-width : 754px){
    .f1{
        display: flex;
        flex-direction: column-reverse;
    }
    #main .left-content{
        margin-top: -40px;
    }
    #main .right-content{
        margin-top: -40px;
    }
    #main{
        padding: 2.5em;
        margin-top: 100px;
    }
    #sec-2{
        padding: 2.5em;
        margin-top: 100px;
    }
    #sec-2 .right-content{
        margin-top: 140px;;
    }
    #sec-2 .left-content{
        margin-top: 0px;;
    }
    #sec-3{
        padding: 2.5em;
        margin-top:350px;
    }

    #footer{
        margin-top: 80px;
    }
    #footer .footer_links{
        margin-top: 30px;
    }

    #faq .accordion {
        background-color: transparent;
        color: var(--text);
        cursor: pointer;
        width: 100%;
        padding: 1em 1.5em;
        border: 1px solid #DADCE0;
        border-radius: 8px;
        text-align: left;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        /* transition: 0.4s; */
      }
      #faq .accordion-2 {
        background-color: transparent;
        color: var(--text);
        cursor: pointer;
        width: 100%;
        padding: 1em 1.5em;
        border: 1px solid #DADCE0;
        border-radius: 8px;
        text-align: left;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        /* transition: 0.4s; */
      }
      #faq .accordion-3 {
        background-color: transparent;
        color: var(--text);
        cursor: pointer;
        width: 100%;
        padding: 1em 1.5em;
        border: 1px solid #DADCE0;
        border-radius: 8px;
        text-align: left;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        /* transition: 0.4s; */
      }

      #faq{
        padding: 0 2em;
        margin-top: 320px;
    }

    #faq img {
        height: 30px;
        width: 30px;
    }

    #faq h1{
        font-size: 1.5em;
        text-align: left;
        margin-left: -1em;;
    }
    #faq .immg{
        text-align: left;
      }
    
    
 #faq .panel {
    display: none;
    background-color: #ECF3FF;
    color: var(--primary);
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    padding: 1em 3em;
  }
    
}