:root{
    --head : #F8F9FA;
    --primary : #508AFF;
    --heading : #565656;
    --text : #707070;
    --focus : #3B3B3B;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* ------------ Navbar -------------------------------------*/
#navbar{
    padding-left: 60px;
    height: 10vh;
    background-color: var(--head);
}

#navbar .nav-link{
    font-weight: 600;
    margin-left: 50px;
}

#navbarNav{
    margin-left: 25%;
    background-color: var(--head);
}

#navbar #cta{
    margin-left: 55%;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-weight: 600;
}




/*------- Main Section -------------*/
#main{
    padding: 5em;
    height: 90vh;
    overflow: none;
}


#main .left-content{
    margin-top: 140px;
}

.left-content h1{
    font-weight: 600;
    color: var(--heading)
}

.left-content p{
    font-weight: 400;
    color: var(--text);
    margin-top: 30px;
}

.left-content .bttns{
    margin-top: 30px;
}

#main .right-content img{
    height:100%;
    width: 100%;
}
.bsec{
    margin-left: 20px;
    border: 2px solid var(--primary);
    background-color: transparent;
    color:var(--primary);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}
.bmain{
    margin-left: 20px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}
/*---------------------Section 2 ------------------------*/

#sec-2{
    padding: 5em;
    height: 90vh;
    overflow: none;
}

#sec-2 .right-content img{
    height:80%;
    width: 80%;
}

#sec-2 .left-content{
    margin-top: 50px;;
}


/*---------------------Section 3------------------------*/
#sec-3{
    padding: 5em;
    overflow: none;
    background-color: var(--head);
}

#sec-3 .right-content img{
    height:80%;
    width: 80%;
}
#sec-3 .left-content{
    margin-top: 50px;;
}

/*-------------------Footer-------------------------*/

#footer {
    padding-top: 4em;
    background-color: var(--head);
    color: var(--heading);
}


#footer .footer_links ul{
    margin-bottom: 1em;
}

#footer .footer_links li{
    list-style: none;
    margin-bottom: 1em;
}
#footer .footer_links a{
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

#footer .footer_links a:hover{
    color: var(--heading);
}

#footer hr{
    height: 1.5px;
}

#footer .f_copy p{
    font-size: 16px;
}

#footer .f_social{
    /* justify-content: right; */
    text-align: right;
}

#footer .f_social img{
    height: 30px;
    width: 30px;
    margin: 0 0.5em;
}

#ac{
    font-weight: 600;
    padding-bottom: 50px;
}

#copy{
    margin-left: 3em;
}

#name{
    font-weight: 600;
}

/* ------------------------- Media Queries -------------------*/

@media screen and (max-width : 1026px){
    #navbar .nav-link{
        margin-top: 30px;
        margin-left: 0;
    }

    #navbarNav{
        margin-left: 0;
        width: 100%;
    }

    #navbar #cta{
        margin-top: 30px;
        margin-left: 0;
    }
}

@media screen and (max-width : 754px){
    .f1{
        display: flex;
        flex-direction: column-reverse;
    }
    #main .left-content{
        margin-top: -40px;
    }
    #main .right-content{
        margin-top: -40px;
    }
    #main{
        padding: 2.5em;
    }
    #sec-2{
        padding: 2.5em;
    }
    #sec-2 .right-content{
        margin-top: 140px;;
    }
    #sec-2 .left-content{
        margin-top: 0px;;
    }
    #sec-3{
        padding: 2.5em;
        margin-top:350px;
    }

    #footer{
        margin-top: 350px;
    }
    #footer .footer_links{
        margin-top: 30px;
    }
}